<%= content_for :search do %>
    <span class='wrapper search-form'>
      <%= form_tag artists_path, method: :get do %>
        <%= search_field_tag 'query', params[:query], placeholder: 'Search the Artists...' %>
        <%= button_tag '', name: nil %>
      <% end %>
    </span>
<% end %>

<div id='artists'>
  <header class='wrapper'>
    <h2>Artists</h2>
  </header>

  <% if @query_header %>
    <header class='wrapper'>
      <h2><%= @query_header %></h2>
    </header>
  <% end %>

  <%= will_paginate @artists %>

  <%= render partial: 'tile',
    collection: @artists_public_data,
    as: :artist_public_data,
    locals: { context: :index }
  %>
</div>

