<div class='tiles-container'>
 <%= render partial: 'tile',
   locals: { item_public_data: @item_public_data, context: :show } %>

  <div class='tile tile-no-background'>
    <dl>
      <dt>Neighborhood</dt>
      <dd><%= @item_public_data.neighborhood %></dd>

      <dt>Artists</dt>
      <% @item_public_data.artists.each do |artist| %>
        <dd><%= artist %></dd>
      <% end %>

      <dt>Material</dt>
      <dd><%= @item_public_data.material %></dd>

      <dt>Dimensions</dt>
      <dd><%= @item_public_data.dimensions %></dd>

      <dt>Installation Date</dt>
      <dd><%= @item_public_data.installation_date %></dd>

      <dt>Genre</dt>
      <dd><%= @item_public_data.genre %></dd>
    </dl>
  </div>
</div>
