<!DOCTYPE html>
<html>
<head>
  <title>Baltimore Public Art Commons</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <meta name='viewport' content='initial-scale=1.0, user-scalable=no'>

  <% if Rails.env.development? %>
    <%= stylesheet_link_tag "ggs-js" %>
    <%= javascript_include_tag "ggs" %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <span class='wrapper'>
      <%= link_to root_path, class: 'logo' do %>
        <h1 class='orange'>Baltimore</h1>
        <h1 class='blue'>Public Art</h1>
        <h1 class='orange'>Commons</h1>
      <% end %>
    </span>
    <span class='wrapper small-caps'>
      <%= link_to 'Neighborhoods', '#' %> |
      <%= link_to 'Artists', '#' %> |
      <%= link_to 'Genres', '#' %> |
      <%= link_to 'About Us', about_path %>
    </span>
    <span class='wrapper search-form'>
      <%= form_tag '/items', method: :get do %>
        <%= search_field_tag 'query', params[:query], placeholder: 'Search the Collection...' %>
        <%= button_tag '', name: nil %>
      <% end %>
    </span>

    <%= flash.notice %>

  </header>
  <div style='clear:both'></div>
  <%= yield %>
</body>
</html>