<!DOCTYPE html>
<html>
<head>
  <title>Baltimore Public Art Commons</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <% if Rails.env.development? %>
    <%= stylesheet_link_tag "ggs-js" %>
    <%= javascript_include_tag "ggs" %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>
  <header class='wrapper'>
    <h1><%= link_to 'Baltimore Public Art Commons', root_path %></h1>
    <p>
      An open source platform to collect and distribute information about
      Baltimore's public art.
      <%= link_to 'Click here to find out more.', about_path %>
    </p>
  </header>
  <%= yield %>
</body>
</html>
